.posts{
  width: auto;
  flex-grow: 1;
  padding: 104px 30px 20px;
}
.post{
  .post__header{

  }
  .post-author__avatar{

  }
  .post-author__author-info{

  }
  .post-author__author-name{
    font-size: 16px;

  }
  .content-item__time{

  }
  .content-item__container{

  }
  .content-item__title{

  }
  .content-item__icons{

  }
}