.header {
  background-image: url(../images/header-image.png);
  background-size: cover;
  height: 401px; }

.user-card {
  width: 265px;
  min-height: 200px;
  padding: 0 14px 0 25px; }

.posts {
  width: auto;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 104px 30px 20px; }

.post .post-author__author-name {
  font-size: 16px; }

.sidebar {
  width: 262px;
  min-height: 200px; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif; }

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
