@import 'variables';
@import 'components/texts';
@import 'components/header';
@import 'components/button.scss';
@import 'components/menu';
@import 'components/user-card';
@import 'components/posts';
@import 'components/sidebar';
@import 'components/footer';

body {
  margin: 0;
  font-family: $font-primary,sans-serif;
}
.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
  display: flex;
}

